@{
    ViewBag.Title = "Lê Văn Hoàng";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.msv</h3>
<h3>@ViewBag.fullname</h3>

<address>
    K22CNT3 <br />
    - ASPNET Mvc5<br />
    <abbr title="Phone">P:</abbr>
    0982121680
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:levanhoang742004@gmail.com">levanhoang742004@gmail.com</a>
</address>