
@{
    ViewBag.Title = "Lê Văn Hoàng - Index";
}

<h2>Lê Văn Hoàng - Index</h2>
<hr />
<h3>Hiển thị dữ liệu từ Acction trong controlner</h3>
<h4>FullName:@ViewBag.fullName</h4>
<h4>Ngày sinh:@ViewData["birtday"]</h4>
<h4>Di động:@TempData["phone"]</h4>



            