@{
    ViewBag.Title = "Lê Văn Hoàng";
}
<h2>@ViewBag.Title.</h2>
<h2>Mã Số: 2210900024</h2>
<h2>Ngày sinh:07/04/2004</h2>

<address>
    Lớp: K22CNT3
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:levanhoang742004@gmail.com">levanhoang742004@gmail.com</a>
</address>